.navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.9;
}

.nav-link {
    font-size: 24px;
}

/* ------ Styling of the section "Responses" ------*/
.responses-list {
    display: block;
    margin-top: 20px;
    padding: 0;

    list-style: none;
}

.responses-list li {
    margin-bottom: 20px;
}

.customer-name {
    padding-right: 40px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.date, .time {
    padding-right: 5px;
    font-weight: 400;
    font-size: 18px;

}

.customer-text {
    font-size: 18px;
}

/*------- Styling of the section "Response-form" ----*/
.invalid-feedback {
    font-size: 18px;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da;
    background-image: none;
}

.fix-rounded-right {
    border-top-right-radius: .2rem !important;
    border-bottom-right-radius: .2rem !important;
}

.alert {
    display: block;
    font-weight: 400;
    font-size: 18px;
}

.alert.error {
    color: #f60505;
}

.alert.success {
    color: #1ebd2c;
}
